[submodule "neorv32-pac"]
	path = neorv32-pac
	url = git@github.com:cruzgarcia/neorv32-pac.git
[submodule "submodules/neorv32"]
	path = submodules/neorv32
	url = git@github.com:stnolting/neorv32.git
[submodule "submodules/neorv32-mkr-vidor-4000"]
	path = submodules/neorv32-mkr-vidor-4000
	url = git@github.com:cruzgarcia/neorv32-mkr-vidor-4000.git
